.contactUs{
    color: red!important;
    font-weight: bold;
    padding-bottom: 30px;
}
.contactUsTitle{
    color: #1F1F1F;
}
.contactUsText{
    color: #464646;
}
.contactUsContent{
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contactUsForm{
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
}
.customInput{
    text-indent: 10px;
    border-radius: 8px;
    padding: 15px 5px;
}
.customInput:focus{
    border: none!important;
    outline: none!important;
}
.customTextAre{
    min-height: 10rem;
}
.customSubmitBtn{
    background-color: #2790C3;
    border-radius: 8px;
    color: white;
    padding: 20px;
}
.textMuted{
    color: #7D7D7D;
    font-size: 16px;
}
.textDark{
    color: #1F1F1F;
    font-size: 16px;
}
@media (max-width: 768px) {
    .w70{
        width: 100%;
        justify-self: center;
    }
}
@media (min-width: 769px) {
    .w70{
        width: 70%;
        justify-self: center;
    }
}
